<h2>Your Cart</h2>
<div class="cart-items">
  {{#each cart.items}}
    <div class='cart-item'>
      <img src="{{this.imageThumbnailUrl}}"/>
      <div class='details'>
        <div class='inner'>
          <h2>{{this.name}}</h2>
          <p>{{this.price}}</p>
        </div>
      </div>
      <div class='quantity'>
        <input type='text' value='{{this.quantity}}'/>
      </div>
    </div>
  {{/each}}
</div>
<div class='cart-totals'>
  <div class='totals'>
   Estimated Total: {{cart.subTotal}}
  </div>

  <div>
    <a class="button checkout-button">
      Check Out
      <i class="icon-arrow" />
    </a>
  </div>
</div>