<li class="featured-story">
  <div class="story-background">
    <p>{{shelfName}}</p>

    <img src="{{thumbnail}}" alt="{{name}}">

    <a class="button secondary-button add-button" href="{{link "shelf/{{shelfId}}" expand-tokens=true}}" data-position="{{position}}" data-id="{{shelfId}}">
      {{i18n "Shop"}}
    </a>
  </div>
</li>
