{{view breadcrumb}}
<header class="subnav">
  {{view sort}}
  {{view gridToggle}}
</header>

<div>
  {{view departmentPicker}}
  {{#button "toggleRefinements" class="refinements-toggle button"}}Filters{{/button}}
  {{view departmentList}}
  {{view refinementList}}
</div>
<div class="corrected-search-container" style="display: none">
  Did you mean <a href="#" class="search-suggestion"></a>?
</div>

{{#desktop}}
  {{view clickPaginator}}
{{/desktop}}
<ul class="shelf-list tap-list {{type}}"></ul>
{{^desktop}}
  {{view paginator}}
{{/desktop}}
{{view itemCount}}
