<div class="corrected-search-container" style="display: none">
  Did you mean <a href="#" class="search-suggestion"></a>?
</div>
{{view sort}}
{{collection tag="ul" class="shelf-list tap-list {{type}}" expand-tokens=true}}
{{view paginator}}
{{view departmentList}}
{{view refinementList}}
{{view itemCount}}