{{view breadcrumb}}
<header class="subnav">
  {{view gridToggle}}
</header>

<div>
  {{view departmentPicker}}
  {{#button "toggleRefinements" class="refinements-toggle button"}}Filters{{/button}}
  {{view departmentList}}
  {{view refinementList}}
</div>
<div class="corrected-search-container" style="display: none">
  Did you mean <a href="#" class="search-suggestion"></a>?
</div>
<ul class="shelf-list tap-list {{type}}"></ul>
{{view paginator}}
{{view itemCount}}
