<li{{#if outOfStock}} class="out-of-stock"{{/if}} data-id="{{id}}">
  {{#if itemPage}}<a href="{{url itemPage}}"{{else}}<div{{/if}} class="shelf-item item-preview">
    <div class="item-image-container item-preview-image">
      <img src="{{thumbnail}}" alt="{{name}}">
<!--       {{#if price}}
        <span class="price {{varyingPriceClass}}">{{price price}}</span>
      {{/if}} -->
    </div>
    <div class="item-preview-text">
      <h3 class="name">{{{name}}}</h3>
      <div class="price">{{price this.price}}</div>
      {{flag-list flags}}
      {{star-rating rating}}
    </div>
  {{#if itemPage}}</a>{{else}}</div>{{/if}}
</li>
