<div class="corrected-search-container" style="display: none">
  Did you mean <a href="#" class="search-suggestion"></a>?
</div>
{{view sort}}
<ul class="shelf-list tap-list {{type}}"></ul>
{{view paginator}}
{{view departmentList}}
{{view refinementList}}
{{view itemCount}}