{{view sort}}
{{#button "toggleGridList"}}Grid List Toggle{{/button}}
{{view departmentPicker}}
{{#button "toggleRefinements" class="refinements-toggle"}}Refinements Toggle{{/button}}
<div class="corrected-search-container" style="display: none">
  Did you mean <a href="#" class="search-suggestion"></a>?
</div>
<ul class="shelf-list tap-list {{type}}"></ul>
{{view paginator}}
{{view departmentList}}
{{view refinementList}}
{{view itemCount}}
