{{view breadcrumb}}
<header class="subnav">
  {{view sort}}
  {{view gridToggle}}
</header>

<div class="shelf-sidebar">
  {{view departmentPicker}}
  {{#button "toggleRefinements" class="refinements-toggle button"}}Filters{{/button}}
  {{view departmentList}}
  {{view refinementList}}
  {{#desktop}}
    <div class="third-party-ad">
      <img src="http://imagec15.247realmedia.com/RealMedia/ads/Creatives/Walmart/CT_01_MIC_44310_GearsofWar/01_MIC_44310_GearsofWar_B_160x600_Sky_ENG_01.jpg" alt="Click Here" border="0">
    </div>
  {{/desktop}}
</div>
<div class="shelf-primary">
  <div class="corrected-search-container" style="display: none">
    Did you mean <a href="#" class="search-suggestion"></a>?
  </div>

  {{#desktop}}
    {{view clickPaginatorTop}}
  {{/desktop}}
  <ul class="shelf-list tap-list {{type}}"></ul>
  {{#desktop}}
    {{view clickPaginatorBottom}}
  {{else}}
    {{view paginator}}
  {{/desktop}}
</div>